<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <title>Decode Stego Image</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <style>
        #drop-area {
            border: 2px dashed #009688;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            margin: 20px 0;
        }

        #drop-area.hover {
            border-color: #333;
        }

        #drop-area img {
            max-width: 100%;
            margin-top: 10px;
        }

        .control input {
            width: 100%;
        }
    </style>
</head>

<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">Home</a>
            <a class="navbar-item" href="{% url 'embed' %}">Encode Image</a>
            <a class="navbar-item" href="{% url 'decode_image' %}">Decode Image</a>
            <a class="navbar-item" href="{% url 'embed_audio' %}">Encode Audio</a>
            <a class="navbar-item" href="{% url 'decode_audio' %}">Decode Audio</a>
            <a class="navbar-item" href="{% url 'encode_text' %}">Encode Text File</a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h2 class="title"><u>Decode Stego Image</u></h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                
                <div class="field">
                    <div class="field" id="file-message-field">
                        <label class="label">Message File</label>
                        <div class="control">
                            <div class="file has-name is-boxed">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="reader_file" id="reader_file_input">
                                    <span class="file-cta">
                                        <span class="icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                    <span class="file-name">
                                        No file uploaded
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field" style="display: flex; white-space: nowrap;">
                    <label class="label">Number of LSBs: </label>
                    <div class="control" style="padding-left: 10px; width: 100%;">
                        {{ form.num_lsbs }}
                    </div>
                </div>
                
                <div class="field">
                    <div id="drop-area">
                        <p>Drag and drop an image here or click to select one</p>
                        <input type="file" id="fileElem" accept="image/*" style="display:none" name="stego_image">
                        <img id="preview" src="#" alt="Image preview" style="display:none;">
                    </div>
                    {{ form.stego_image.errors }}
                </div>

                <div class="field">
                    <label class="label">Operation Mode</label>
                    <div class="control">
                        <button type="button" class="button is-info" id="toggle-button" onclick="toggleOperationMode()">Switch to Success Page</button>
                        <input type="hidden" id="operation-mode" name="operation_mode" value="file">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary" style="width: 100%;">Decode</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script>
        function updateLabel() {
            var input = document.getElementById('stego_image');
            var label = document.getElementById('file-label');
            label.textContent = input.files.length > 0 ? input.files[0].name : 'No file chosen';
        }

        (function () {
            let dropArea = document.getElementById('drop-area');
            let fileInput = document.getElementById('fileElem');
            let preview = document.getElementById('preview');

            ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, preventDefaults, false);
            });

            ['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, () => dropArea.classList.add('hover'), false);
            });

            ['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, () => dropArea.classList.remove('hover'), false);
            });

            dropArea.addEventListener('drop', handleDrop, false);
            dropArea.addEventListener('click', () => fileInput.click(), false);
            fileInput.addEventListener('change', handleFiles, false);

            function preventDefaults(e) {
                e.preventDefault();
                e.stopPropagation();
            }

            function handleDrop(e) {
                let dt = e.dataTransfer;
                let files = dt.files;
                handleFiles({ target: { files } });
            }

            function handleFiles(e) {
                let files = e.target.files;
                if (files.length > 0) {
                    let file = files[0];
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onloadend = function () {
                        preview.src = reader.result;
                        preview.style.display = 'block';
                    };
                    fileInput.files = files;
                }
            }
        })();

        function toggleOperationMode() {
            let operationModeInput = document.getElementById('operation-mode');
            let toggleButton = document.getElementById('toggle-button');
            const fileMessageField = document.getElementById('file-message-field');
            
            if (operationModeInput.value === 'file') {
                operationModeInput.value = 'success';
                fileMessageField.style.display = 'none';
                toggleButton.innerText = 'Switch to File';
                
                const fileInput = document.querySelector('#file-message-field input');
                fileInput.value = '';
                const fileName = document.querySelector('.file-name');
                fileName.textContent = 'No file uploaded';
            } else {
                operationModeInput.value = 'file';
                fileMessageField.style.display = 'block';
                toggleButton.innerText = 'Switch to Success Page';
                document.querySelector('#file-message-field input').value = '';
            }
        }

        document.getElementById('reader_file_input').addEventListener('change', function () {
            const fileName = document.querySelector('.file-name');
            fileName.textContent = this.files.length > 0 ? this.files[0].name : 'No file uploaded';
        });
    </script>
</body>

</html>
