<!DOCTYPE html>
<html>
<head>
    <title>Steganography Home</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <style>
        #drop-area {
            border: 2px dashed #009688;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            margin: 20px 0;
        }

        #drop-area.hover {
            border-color: #333;
        }

        #drop-area img {
            max-width: 100%;
            margin-top: 10px;
        }

        .control input {
            width: 100%;
        }

        .control textarea {
            width: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">Home</a>
            <a class="navbar-item" href="{% url 'embed' %}">Encode Image</a>
            <a class="navbar-item" href="{% url 'decode_image' %}">Decode Image</a>
            <a class="navbar-item" href="{% url 'embed_audio' %}">Encode Audio</a>
            <a class="navbar-item" href="{% url 'decode_audio' %}">Decode Audio</a>
            <a class="navbar-item" href="{% url 'encode_text' %}">Encode Text File</a>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <h1 class="title"><u>Embed a Secret Message in an Image</u></h1>
                <div class="field">
                    <button type="button" id="toggle-message-input" class="button is-secondary" onclick="toggleMessageInput()">Switch to File Input</button>
                </div>
                <div class="field" id="text-message-field">
                    <label class="label">Message to Embed:</label>
                    <div class="control">
                        {{ form.message }}
                    </div>
                </div>
                <div class="field" id="file-message-field" style="display: none;">
                    <label class="label">Message File</label>
                    <div class="control">
                      <div class="file has-name is-boxed">
                        <label class="file-label">
                          <input class="file-input" type="file" name="message_file" id="message_file_input">
                          <span class="file-cta">
                            <span class="icon">
                              <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                              Choose a file…
                            </span>
                          </span>
                          <span class="file-name">
                            No file uploaded
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                <div class="field">
                    <div class="field" style="display: flex; white-space: nowrap;">
                        <label class="label">Number of LSBs: </label>
                        <div class="control" style="padding-left: 10px; width: 100%;">
                            {{ form.num_lsbs }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Add an image file: </label>
                        <div id="drop-area">
                            <p>Drag and drop an image here or click to select one</p>
                            <input type="file" id="fileElem" accept="image/*" style="display:none" name="original_image">
                            <img id="preview" src="#" alt="Image preview" style="display:none;">
                        </div>
                        {{ form.original_image.errors }}
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" style="width: 100%;" class="button is-primary">Embed</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script>
        function updateLabel() {
            var input = document.getElementById('stego_image');
            var label = document.getElementById('file-label');
            label.textContent = input.files.length > 0 ? input.files[0].name : 'No file chosen';
        }

        (function () {
            let dropArea = document.getElementById('drop-area');
            let fileInput = document.getElementById('fileElem');
            let preview = document.getElementById('preview');

            ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, preventDefaults, false);
            });

            ['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, () => dropArea.classList.add('hover'), false);
            });

            ['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, () => dropArea.classList.remove('hover'), false);
            });

            dropArea.addEventListener('drop', handleDrop, false);
            dropArea.addEventListener('click', () => fileInput.click(), false);
            fileInput.addEventListener('change', handleFiles, false);

            function preventDefaults(e) {
                e.preventDefault();
                e.stopPropagation();
            }

            function handleDrop(e) {
                let dt = e.dataTransfer;
                let files = dt.files;
                handleFiles({ target: { files } });
            }

            function handleFiles(e) {
                let files = e.target.files;
                if (files.length > 0) {
                    let file = files[0];
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onloadend = function () {
                        preview.src = reader.result;
                        preview.style.display = 'block';
                    };
                    fileInput.files = files;  // Set the file input's files property
                }
            }
        })();

        function toggleMessageInput() {
          const textMessageField = document.getElementById('text-message-field');
          const fileMessageField = document.getElementById('file-message-field');
          const toggleButton = document.getElementById('toggle-message-input');
    
          if (textMessageField.style.display === 'none') {
            textMessageField.style.display = 'block';
            fileMessageField.style.display = 'none';
            toggleButton.innerText = 'Switch to File Input';
            
            // Clear the file input
            const fileInput = document.querySelector('#file-message-field input');
            fileInput.value = '';
            const fileName = document.querySelector('.file-name');
            fileName.textContent = 'No file uploaded';
          } else {
            textMessageField.style.display = 'none';
            fileMessageField.style.display = 'block';
            toggleButton.innerText = 'Switch to Text Input';
            
            // Clear the textarea
            const textarea = document.querySelector('#text-message-field textarea');
            textarea.value = '';
          }
        }
    
        document.getElementById('message_file_input').addEventListener('change', function() {
          const fileName = document.querySelector('.file-name');
          fileName.textContent = this.files.length > 0 ? this.files[0].name : 'No file uploaded';
        });
    </script>
</body>
</html>
