<!DOCTYPE html>
<html>
<head>
    <title>Stego Object Detail</title>
</head>
<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">
                Home
            </a>

            <a class="navbar-item" href="{% url 'embed' %}">
                Encode Image
            </a>

            <a class="navbar-item" href="{% url 'decode_image' %}">
                Decode Image
            </a>

            <a class="navbar-item" href="{% url 'embed_audio' %}">
                Encode Audio
            </a>

            <a class="navbar-item" href="{% url 'decode_audio' %}">
                Decode Audio
            </a>
            <a class="navbar-item" href="{% url 'encode_text' %}">
                Encode Text File
            </a>
            <a  class="navbar-item" href="{% url 'decode_text' %}">
                Decode Text File
            </a>
        </div>
    </nav>
    <h1>Stego Object Detail</h1>
    <p>Cover Image: {{ stego_object.cover_image.description }}</p>
    <img src="{{ stego_object.cover_image.image.url }}" alt="Cover Image">
    <p>Payload Description: {{ stego_object.payload.description }}</p>
    <p>Stego Image:</p>
    <img src="{{ stego_object.stego_image.url }}" alt="Stego Image">
</body>
</html>
